<a style="cursor: pointer" [routerLink]="[index]"
   routerLinkActive="active"
   class="list-group-item clearfix" >

   <!--(click)="onSelected()"-->

  <div class="pull-left">
    <h4 class="list-group-item-heading">{{rec.recipeName}}</h4>
    <p class="list-group-item-text">{{rec.recipeDescription}}</p>
  </div>
  <span class="pull-right">
        <img src="{{rec.recipeImageURL}}"
             [src] = "rec.recipeImageURL"
             alt="{{rec.recipeName}}"
             class="image-responsive" style="max-height: 50px;">
      </span>
</a>
